{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>
<body>
    <center>
        <h1>Welcome to Product</h1>
        <h1>{{ msg }}</h1> 

        <form action="{% url 'core:product' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title" > <br> <br>
            <input type="number" name="price" placeholder="Price"> <br> <br>  
            <input type="number" name="stock" placeholder="Stock"> <br> <br>
            <input type="text" name="description" placeholder="Description">  <br> <br>           
            <button type="submit" name="action" value="add">Add Product</button>
            <button type="submit" name="action" value="delete">Delete Product</button>
        </form>
       
        {% for product in products %}
            <h2>Nome: {{ product.title }}</h2>
            <p>Descrição: {{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
        {% endfor %}
    </center>
</body>
</html>